@charset "UTF-8";

body {
  background: #9aabb4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c9d1da, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

  .container {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    background-image: url("https://source.unsplash.com/iLNPS0N_6J4");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0 auto;
    border: 10px solid #6a6252;
    padding: 0px;
  }

  a {
    font-size: 1.5em;
  }

  .w3-border {
    border: 3px solid rgb(143, 113, 113) !important;
  }

  .links-container {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .links-container a {
    width: 100%;
    color: #527eaa !important;
    transition: 0.2s;
  }

  .links-container a:hover {
    opacity: 1;
  }

  .profession {
    margin-top: 15px !important;
  }

  .profession span {
    font-size: 14px;
  }

  .icons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .icons a {
    text-decoration: none;
  }

  .icons a svg {
    fill: #373635 !important;
    transform: scale(1);
  }

  .border {
    border: 3px ridge #fdf5e6;
  }

  .contact {
    text-align: center;
    color: #fdf5e6;
  }

  .contact .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .contact .info span {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .bio {
    font-size: 11px;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    .link {
      width: 100%;
    }

    a {
      font-size: x-large;
    }

  }
  @media screen and (min-width: 576px) {
    .container {
      max-width: 540px;
    }

    .profession span {
      font-size: 24px;
    }
    
    .bio {
      font-size: 20px;
    }

  }
